.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}

.service {
    background: var(--color-bg-variant);
    border-radius: 2rem 2rem 2rem 2rem;
    border: 1px solid rgb(22, 55, 13);
    height: fit-content;
    transition: var(--transition);
}

.service__image {
    background: var(--color-bg-variant);
    border-radius: 1rem 1rem 1rem 1rem;
    border: 1px solid var(--color-bg);
    
}

.service__h23 {
    font-size: 2rem;
    
}

.service:hover {
    background: transparent;
    border-color: rgb(27, 110, 45);
    cursor: default;
}

.service__head {
    background: var(--color-primary);
    padding: 1.4rem;
    border-radius: 2rem 2rem 2rem 2rem;
    box-shadow: 0 1rem 0.9rem rgb(0, 0, 0);
}

.service__head h3 {
    color: var(--color-bg);
    font-size: 1.2rem;
    text-align: center;
}

.service__list {
    padding: 2rem;
}

.service__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.service__list-icon {
    color: rgb(0, 162, 255);
    margin-top: 2px;
    font-size: 2rem;
    
}

.service__list p {
    font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
    .services__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .service {
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .services__container {
        grid-template-columns: 1fr;
        gap: 7.5rem;
    }
}