 
 .about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    
 }

 .about__us {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 3rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
    


 }

 ha {
   font-size: 2rem;
   color: aqua;
   display: grid;
   margin-top: calc(2rem);
   
 }

 .about__h22 {
   font-size: 2rem;
   position: relative;
   
 }

 

 .about__us-image{
    border-radius: 1rem;
    overflow: hidden;
    transition: var(--transition);
    
 }

 .about__us-image:hover {
    transform: rotate(2deg);
    margin-top: 2rem;
 }

 .about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    transition: var(--transition);
    

 }

 .about__card {
    background: var(--color-bg-variant);
    
    border: 1px solid transparent;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    
    
 }

 .about__card:hover {
    background: transparent;
    margin-top: 1rem;
    border-color: rgb(0, 229, 255);
    cursor: default;
    
 }

 .about__service-image {
   margin-top: 2rem;
   border-radius: 2rem;
 }

 .about__icon {
    color: rgb(112, 251, 142);
    font-size: 3rem;
    margin-bottom: 2rem;

 }

 .about__card h5 {
    font-size: 0.95rem;
    margin-top: 2rem;
    
 }

 .about__card small {
    font-size: 0.6rem;
    color: aqua;
    
 }

 .about__content p {
    margin: 2rem 0 2.6rem;
    color: azure;
    
 }
 @media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
        
    }

    .about__us {
        width: 50%;
        margin: 2rem auto 4rem;
        
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
        
    }
}


.banner__us {
    background: var(--color-bg-variant);
    border: 0px solid transparent;
    border-radius: 2rem;
    padding: 0.8rem;
    text-align: center;
    transition: var(--transition);
    margin-bottom: 3rem;
    
}






@media screen and (max-width: 600px) {
    .about__us {
        width: 90%;
        margin: 0 auto 7rem;
    }
    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        

    }
    .about__content {
        text-align: center;
        
    }

    .about__content p {
        margin: 1.5rem 0;
        

    }
}


